<?xml version="1.0" encoding="utf-8" ?>
<!--
Copyright 2014 (c) Sizing Servers Lab
University College of West-Flanders, Department GKG

Author(s):
  Dieter Vandroemme
-->
<tests verbosity="verbose">
<!--<tests>-->
  <!--<test client="Generic Agent Client" parameters="192.168.34.207,5556;fe80::20c:29ff:fe4c:95d8,5556;dBuntu,5556" testCounts="2,1,50" repeats="0,10,0" />-->
  <!--<test client="Dstat Agent Client" parameters="192.168.34.207" testCounts="1" repeats="0" />-->
  <!--<test client="Generic Agent Client" parameters="192.168.34.207,5556" testCounts="2,1,50" repeats="0,10,0" />-->
  <!--<test client="Racktivity Client" parameters="racktivity.sslab.lan" testCounts="1" repeats="0" />-->
  <!--<test client="IPMI Client" parameters="dual-ivy-mgmt.sslab.lan,ADMIN,ADMIN" testCounts="1" repeats="0" />-->
  <!--<test client="ESXi Client" parameters="192.168.35.16,root,SiSvLbR0c" testCounts="1" repeats="0" />-->
  <!--<test client="WMI Agent Client" parameters="127.0.0.1" testCounts="1" repeats="2" />-->
  <!--<test client="Local WMI Client" parameters="" testCounts="1" repeats="0" />-->
  <!--<test client="Hotbox Agent Client" parameters="hotbox.sslab.lan" testCounts="1" repeats="0" />-->
  <test client="HMT Agent Client" parameters="192.168.34.48" testCounts="1" repeats="3" />
</tests>